<%= form_with(model: list, url: list.persisted? ? list_path(list, page: page) : lists_path(page: page)) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-borderless table-dark" style="margin:auto;width:450px;">
      <tr>
        <th scope="col" ><%= form.label :day %></th>
       <td><%= form.number_field :day, min: 1, max: 365 %></td>
      </tr>
      <tr>
        <th scope="col" ><%= form.label :date %></th>
        <td><%= form.date_select :date %></td>
      </tr>
      <tr>
        <th scope="col" ><%= form.label :title %></th>
        <td><%= form.text_field :title %></td>
      </tr>
      <tr>
        <th scope="col" ><%= form.label :msg %></th>
        <td><%= form.text_area :msg, cols: 40, rows: 10 %></td>
      </tr>
      <tr>
        <td align="center" class="actions" colspan="2"><%= form.submit class:"btn btn-outline-light btn-sm" %></td>
      </tr>
  </table>
<% end %>
